<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>NEXIFY | UPDATE BOOK</title>
</head>
<body>
<!-- 	<form action="#" th:object="${updateBookPage}" enctype="multipart/form-data" th:action="@{|/updateBook|}" method="post"> -->
		<form action="#" th:object="${updateBookPage}" enctype="multipart/form-data" th:action="@{|/updateBook/{id}|}" method="post">
		<div>
			<table>
				<tr>
					<th align="left">Title : </th>
					<th align="left"><input type="text" required ></th>
				</tr>
				<tr>
					<th align="left">Author : </th>
					<th align="left"><input type="text" required ></th>
				</tr>
			</table>
			<input type="submit" name="_eventId_mode" value="Update"/>  
		</div>
	</form>
</body>
</html>